<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yt.teacher">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="教师基本信息管理系统"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogActivity" />
        <activity android:name=".InsertActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ManageActivity" />
        <activity android:name=".DeleteActivity" />
        <activity android:name=".InquiryActivity" />
    </application>

</manifest>